services:
  rabbitmq:
    image: rabbitmq:management
    #    volumes:
    #      - "./data:/var/lib/rabbitmq/mnesia/"
    #    environment:
    #      - RABBITMQ_DEFAULT_USER=itachi
    #      - RABBITMQ_DEFAULT_PASS=j#AP0M6J6Z4
    ports:
      - 5672:5672
      - "0.0.0.0:15672:15672"
  redis:
    container_name: redis
    image: redis:7.4.0-alpine
    restart: always
    command: [ redis-server, /usr/local/etc/redis/redis.conf ]

    ports:
      - "0.0.0.0:6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
  postgres:
    container_name: db
    image: postgres:16.4-bookworm
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "0.0.0.0:5432:5432"
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
